<div class="outer_container">
  <div>
    <span class="main">
      <img class="main_img" src="../../assets/23374-DEV-Color.png"/>
    </span>
  </div>
  <ul>
    <li *ngFor="let item of circular_items">
      <span class="item_id active">{{item.id}}</span>
      <span class="item_border"></span>
      <svg class="liner" height="500" width="500">
        <line x1="0" y1="0" x2="200" y2="200" style="stroke:#ffffff;stroke-width:4"></line>
      </svg>
      <span class="item_desc">{{item.name}}</span>
    </li>
  </ul>

  <div id="c1" class="half-circle"></div>
  <div id="c2" class="half-circle"></div>
  <div id="c3" class="half-circle"></div>
  <!--<div id="c3" class="half-circle"></div>-->
</div>
