body {
  background: transparent;
}

.outer_container {
  z-index: 0;
  position: relative;
  left: 50%;
  top: 450px;
  width: 10px;
  height: 10px;
  display: block;
}

.outer_container .main {
  z-index: 3;
  position: absolute;
  background: #428bca73;
  border-bottom: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  transition: all .1s;
  display: block;
}

.main .main_img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: auto;
  width: 95%;
}

.outer_container button:hover { background: #3071a9; }

.outer_container li .item_id:hover { background: #95bbec; transform: scale(1.1)}

.outer_container button:focus { outline: none; }

ul,li {
  list-style: none inside;
  margin:0;
  padding:0; }

.outer_container li .item_id {
  z-index: 9;
  position: absolute;
  border-radius: 50%;
  background: #e4400e;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
}

.outer_container li .item_border {
  z-index: 9;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
}

.outer_container li .item_desc {
  z-index: 1;
  position: absolute;
  width: 170px;
  height: 50px;
  border-radius: 10%;
  background: rgba(255, 255, 255, 0);
  font-size: 20px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  cursor: default;
}

.half-circle {
  position: absolute;
  width: 400px;
  height: 200px;
  border: 5px solid #ffffff;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.liner {
  position: absolute;
  z-index: 2;
}
