.outer_container {
  z-index: 0;
  position: relative;
  left: 50%;
  top: 350px;
  width: 100%;
  height: 100%;
  display: block;
}

.outer_container .main {
  z-index: 3;
  position: absolute;
  background: #428bca;
  border-bottom: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  transition: all .1s;
  display: block;
}

.outer_container button:hover { background: #3071a9; }

.outer_container li .item_id:hover { background: #f18c8f; }

.outer_container button:focus { outline: none; }

ul,li {
  list-style: none inside;
  margin:0;
  padding:0; }

.outer_container li .item_id {
  z-index: 9;
  position: absolute;
  border-radius: 50%;
  background: #f16a51;

  text-align: center;
  vertical-align: middle;
}

.outer_container li .item_border {
  z-index: 9;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
}

.outer_container li .item_desc {
  z-index: 1;
  position: absolute;
  width: 170px;
  height: 50px;
  border-radius: 10%;
  background: rgba(255, 255, 255, 0);

  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.half-circle {
  position: absolute;
  width: 400px;
  height: 200px;
  border: 5px solid white;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.liner {
  position: absolute;
  z-index: 2;
}
