<div style="position: relative; width: 500px; height: 500px; margin-right: 15px; margin-left: -10px">
  <div layout="row" layout-align="center center">
    <div style="margin-left: 40px">
      <app-snode-sub [node]="engineering"></app-snode-sub>
    </div>
    <div style="position: absolute; top:100px; left: 50px">
      <app-snode-sub [node]="bpo"></app-snode-sub>
    </div>
    <div style="position: absolute;  top: 230px; left:20px;">
      <app-snode-sub [node]="aspice"></app-snode-sub>
    </div>
    <div style="position: absolute;  top: 350px; left:100px;">
      <app-snode-sub [node]="cadcae_modeling"></app-snode-sub>
    </div>

    <app-snode-main [node]="delivery_service" style="position: absolute; top: 170px; left: 190px"></app-snode-main>

    <div style="position: absolute; top:100px; left: 370px">
      <app-snode-sub [node]="migration"></app-snode-sub>
    </div>
    <div style="position: absolute; top:230px; left:390px">
      <app-snode-sub [node]="package"></app-snode-sub>
    </div>
    <div style="position: absolute;  top: 350px; left:310px;">
      <app-snode-sub [node]="infra"></app-snode-sub>
    </div>
  </div>
</div>
