<div class="flexbox-parent" style="background: linear-gradient(to right, #84FFFF, #00bcd4)">
  <div layout="row" layout-align="center center"  style="height: 100vh">

    <app-node [node]="sales"></app-node>
    <div align="center">
      <img class="img-responsive" style="width:60px;height:45px; " src="assets/ic_trending_flat_black_24dp_2x.png">
    </div>

    <app-node [node]="contract_management"></app-node>
    <div align="center">
      <img class="img-responsive" style="width:60px;height:45px;" src="assets/ic_trending_flat_black_24dp_2x.png">
    </div>

    <app-node [node]="open_project"></app-node>
    <div align="center">
      <img class="img-responsive" style="width:60px;height:45px;" src="assets/ic_trending_flat_black_24dp_2x.png">
    </div>

    <app-snode></app-snode>
    <div align="center">
      <img class="img-responsive" style="width:60px;height:45px;" src="assets/ic_trending_flat_black_24dp_2x.png">
    </div>

    <app-node [node]="customer_support"></app-node>
  </div>
</div>
