.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 14%;
  overflow: hidden;
  background-color: #f57f17;
}

.navbar a {
  color: #f2f2f2;
  border-radius: 5px;
  padding: 3px;
  /* height: 80px;
  width: 250px; */
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  font-family: 'Dosis', sans-serif;
}

/* .navbar a:hover {
  background-color: #ffff8d;
  color: black;
  text-decoration: underline;
} */

.menu > ul {
  left: 0;
  right: 0;
  margin: auto;
}

ul {
  text-align: center;
}

ul > li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}
