<div class="navbar">
  <div class="menu" layout="row" layout-align="center center">
    <ul>
      <li>
        <a href="#policy">
          <img src="../../assets/auction.png" alt="Policy" style="transform: scale(0.8)" class="align-center">Policy</a>
      </li>
      <li>
        <a href="#master-list">
          <img src="../../assets/open-book.png" alt="Master List" class="align-center">Master List</a>
      </li>
      <li>
        <a href="#pcb-norms">
          <img src="../../assets/line-chart.png" alt="PSB &amp; Norms" class="align-center">PSB &amp; Norms</a>
      </li>
      <li>
        <a href="https://www.fpt.com.vn/vi">
          <img src="../../assets/menu-bot4_poster_.png" alt="link to Fsoft Homepage">
        </a>
      </li>
      <li>
        <a href="#qms-108">
          <img src="../../assets/support.png" alt="QMS 108 Support Channel" class="align-center">QMS 108 Support Channel</a>
      </li>
      <li>
        <a href="#community">
          <img src="../../assets/community.png" alt="Community" class="align-center">Community</a>
      </li>
      <li>
        <a href="#best-practices">
          <img src="../../assets/trophy.png" alt="Best Practices" class="align-center">Best Practices</a>
      </li>
    </ul>
  </div>
</div>
