<div class="home_page">
  <app-half-circular-menu style="position: absolute; top: 100px; left: 1000px"></app-half-circular-menu>
  <!-- <div style="position: relative; width: 500px; height: 500px; margin-right: 15px; margin-left: -10px">
    <div layout="row" layout-align="center center">
      <div style="margin-left: 40px">
        <app-hpage-items [node]="cOrganization"></app-hpage-items>
      </div>
      <div style="position: absolute; top:100px; left: 50px">
        <app-hpage-items [node]="finance"></app-hpage-items>
      </div>
      <div style="position: absolute;  top: 230px; left:20px;">
        <app-hpage-items [node]="hResources"></app-hpage-items>
      </div>
      <div style="position: absolute;  top: 350px; left:100px;">
        <app-hpage-items [node]="itManagement"></app-hpage-items>
      </div>
    </div>
  </div> -->
  <div class="grid grid-pad" style="position: relative; top: 600px; left: 700px">
    <app-hpage-items [node]="cOrganization"></app-hpage-items>
    <app-hpage-items [node]="finance"></app-hpage-items>
    <app-hpage-items [node]="hResources"></app-hpage-items>
    <app-hpage-items [node]="itManagement"></app-hpage-items>
    <a *ngFor="let hero of heroes" class="col-1-4">
      <div class="module hero">
        <h4>{{hero.name}}</h4>
      </div>
    </a>
  </div>

</div>
