.wrapper {
  margin-top: 500px;
  position: relative;
  left: 0%;

}
.menu1 > ul {
  left: 0;
  right: 0;
  margin: auto;
  top: 530px;
}

.menu2 > ul {
  left: 0;
  right: 0;
  margin: auto;
  top: 650px;
}

ul > li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
ul {
  padding-left: 0;
  text-align: center;
}
