<div class="wrapper">
  <div class="menu" layout="row" layout-align="center center">
    <ul>
      <li>
        <app-nine-menu-ele [node]="nodes[0]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[1]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[2]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[3]"></app-nine-menu-ele>
      </li>
    </ul>
  </div>
  <div class="menu" layout="row" layout-align="center center">
    <ul>
      <li>
        <app-nine-menu-ele [node]="nodes[4]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[5]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[6]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[7]"></app-nine-menu-ele>
      </li>
      <li>
        <app-nine-menu-ele [node]="nodes[8]"></app-nine-menu-ele>
      </li>
    </ul>
  </div>
</div>
